

/* .blog-listing{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
} */
/* .blog-post{
    width: 25rem;
    height: 30rem;
    border: 1px solid var(--color-border);
} */