.full-blog{
    width: 70%;
    margin: 2rem auto;
}

.full-blog{
    width: 70%;
    text-align: justify;
}
.full-title{
    font-size: 2rem;
    padding: 1rem auto;
}


.image img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
 
}

.full-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8rem;
}