* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
:root {
  --color-text: #ffffff;
  --color-border: #000;
  --color-btn: #18ca18;
  --color-bg: #d3efd3;
  --color-white: #fff;
}